*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header{
    background-image: url("../B13-A01-Knowledge-Vault/assets/hero-bg.png");
}

/*Universal Styles*/

.btn{
    background-color: #30B868;
    border: none;
    padding:10px;
    border-radius:5px;
    color: white;
    font-style: none;

}

/*Individual Styles*/

nav{
    width:90%;
    max-width: 1600px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

nav .options{
    display:flex;
    list-style:none;
    gap:51px;
    align-items:center;
}

.banner{
    padding: 115.5px 120px 179.5px 120px;
    text-align: center;

    max-width: 2042px;
    justify-content: center;
}

.badge img{
    height: 10px;
    width: 10px;
}

.badge{
    padding:8px 12px 8px 12px;
    background-color: white;
    border-radius: 20px;
}

.banner h1{
    margin-top: 16px;
    font-size: 70px;

}

.banner .highlight{
    color:#30B868;
}

.banner p{
    font-size: 18px;
    color: black;
    font-weight: 400px;
    line-height: 24px;
    letter-spacing: 0;
    margin-bottom: 24px;
    width: 50%;
    margin-left: 313px;
}

.extra-text h1{
    font-style: bold;
    text-align: center;
}

.extra-text p{
    
}