*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/*Universal Styles*/

.btn{
    background-color: #30B868;
    border: none;
    padding:10px;
    border-radius:5px;
    color: white;
    font-style: none;

}

/*Individual Styles*/

nav{
    width:90%;
    max-width: 1600px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    margin-top: 10px;
}

nav .options{
    display:flex;
    list-style:none;
    gap:51px;
    align-items:center;
}

.banner{
    padding: 115.5px 120px 179.5px 120px;
    text-align: center;

    max-width: 2042px;
    justify-content: center;
    background-image: url("assets/hero-bg.png");
}

.badge img{
    height: 10px;
    width: 10px;
}

.badge{
    padding:8px 12px 8px 12px;
    background-color: white;
    border-radius: 20px;
}

.banner h1{
    margin-top: 16px;
    font-size: 80px;
    color: white;

}

.banner .highlight{
    color:#30B868;
}

.banner p{
    font-size: 18px;
    color:white;
    font-weight: 400px;
    line-height: 24px;
    letter-spacing: 0;
    width: 40%;
    max-width:1360px;
    margin: 24px auto 35px;
}

.button{
    margin: 0 auto;
}

.button .btn1{
    background-color: #30B868;
    border: none;
    padding:10px;
    border-radius:5px;
    color: white;
    font-style: none;
    margin-right: 10px;

}

.button .btn2{
    background-color: transparent;
    border: 1px solid white;
    padding:10px;
    border-radius:5px;
    color: white;
    font-style: none;
}

.extra-text h1{
    font-style: bold;
    text-align: center;
    font-size: 40px;
    padding-top: 30px;
}

.extra-text p{
    text-align:center;
    font-size: 14px;
    color:#627382;
    padding-top: 16px;
}

.problems{
    width:60%;
    max-width:1360px;
    margin: 0 auto;
    display: flex;
    padding-top: 44px;
    gap: 24px;
    text-align: center;
}

.problems .problem-box{
    padding: 24px;
    max-width: 322px;
    box-shadow: 0 4px 50px 0 #0000002c;
}

.problems .problem-box img{
    background: rgba(249, 85, 85, 1);
    border-radius: 50%;
    padding: 10px;

}

.problems .problem-box h3{
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 24px;
}

.problems .problem-box p{
    color:  rgba(98, 115, 130, 1);
    font-size: 16px;
}

.knowledge{
    display:flex;
    width:60%;
    max-width: 1360px;
    margin: 0 auto;
    padding-top: 44px;
    gap: 60px;
    text-align: center;


}
