*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/*Universal Styles*/

.btn{
    background-color: #30B868;
    border: none;
    padding:10px;
    border-radius:5px;
    color: white;
    font-style: none;
    cursor: pointer;

}

/*Individual Styles*/

nav{
    width:90%;
    max-width: 1600px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

nav img{
    margin-top: 10px;
}

nav .options{
    display:flex;
    list-style:none;
    gap:51px;
    align-items:center;
}

.banner{
    padding: 115.5px 120px 179.5px 120px;
    text-align: center;

    max-width: 2042px;
    justify-content: center;
    background-image: url("assets/hero-bg.png");
}

.badge img{
    height: 10px;
    width: 10px;
}

.badge{
    padding:8px 12px 8px 12px;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
}

.banner h1{
    margin-top: 16px;
    font-size: 80px;
    color: white;

}

.banner .highlight{
    color:#30B868;
}

.banner p{
    font-size: 18px;
    color:white;
    font-weight: 400px;
    line-height: 24px;
    letter-spacing: 0;
    width: 40%;
    max-width:1360px;
    margin: 24px auto 35px;
}

.button{
    margin: 0 auto;
}

.button .btn1{
    background-color: #30B868;
    border: none;
    padding:10px;
    border-radius:5px;
    color: white;
    font-style: none;
    margin-right: 10px;
        cursor: pointer;

}

.button .btn1:hover{
    transition: 2s ease;
    transform: scale(1.1,1.1);
}

.button .btn1 img{
    vertical-align: middle;
}

.button .btn2{
    background-color: transparent;
    border: 1px solid white;
    padding:10px;
    border-radius:5px;
    color: white;
    font-style: none;
        cursor: pointer;
}

.button .btn2:hover{
    transition: 2s ease;
    transform: scale(1.1,1.1);

}

.button .btn2 img{
    height: 20px;
    width: 20px;
    vertical-align: middle;
}


.extra-text h1{
    font-style: bold;
    text-align: center;
    font-size: 40px;
    padding-top: 30px;
}

.extra-text p{
    text-align:center;
    font-size: 14px;
    color:#627382;
    padding-top: 16px;
}

.problems{
    width:60%;
    max-width:1360px;
    margin: 0 auto;
    display: flex;
    padding-top: 44px;
    gap: 24px;
    text-align: center;
}

.problems .problem-box{
    padding: 24px;
    max-width: 322px;
    box-shadow: 0 4px 50px 0 #0000002c;
}

.problem-box:hover{
    transition: 2s ease;
    transform: scale(1.1,1.1);
}

.problems .problem-box img{
    background: rgba(249, 85, 85, 1);
    border-radius: 50%;
    padding: 10px;

}

.problems .problem-box h3{
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 24px;
}

.problems .problem-box p{
    color:  rgba(98, 115, 130, 1);
    font-size: 16px;
}

.knowledge{
    display:flex;
    width:60%;
    max-width: 1360px;
    margin: 0 auto;
    padding-top: 44px;
    gap: 60px;
    text-align: center;
}

.knowledge .k-info{
    text-align: left;
}

.knowledge .k-info h4{
    color:#30B868;
    font-size: 16px;
    padding: 102px 0px 16px 30px;
}

.knowledge .k-info h1{
    max-width: 700px;
    font-size: 46px;
    padding: 16px 0px 16px 30px;
}

.knowledge .k-info p{
    max-width: 700px;
    font-size: 16px;
    padding: 16px 0px 40px 30px;
    color:#627382;
}

.knowledge .k-info li{
    list-style:none;
    font-size: 16px;
    padding: 16px 0px 0px 30px;
    color:#627382;

}

.knowledge .k-info img{
    vertical-align: middle;
    padding-right:6px;
}

.clarity{
    padding-top: 120px;
}

.clarity .clarity-container{
    width: 71%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    background-color: #F7F6F2;
    padding: 80px 40px;
}

.clarity .clarity-container .clarity-heading h1{
    font-size:40px;
    padding: 80px 40px 16px 40px;
}

.clarity .clarity-container .clarity-heading p{
    font-size: 16px;
    color:#627382;
    width: 40%;
    max-width: 1360px;
    margin: 0 auto;
    padding-bottom: 24px;
}


.clarity .clarity-container .btn3{
    display: inline-block;
    background-color: #30B868;
    padding: 12px 24px;
    border-radius: 5px;
    color: white;
    border: none;
    margin-bottom: 16px;
    cursor: pointer;
    
}

.clarity .clarity-container .btn3 img{
    vertical-align: middle;
}

.clarity .clarity-container .desclaimer{
    font-size: 16px;
    color:#627382;
}

.footer-keeper{
    margin-top: 120px;
    background-color: #001931;
    display: flex;
    justify-content: space-between;
    padding: 120px 120px;
}

.footer-keeper p{
    color: white;
    font-size: 20px;
}    
.footer-keeper .socials img{
    height: 20px;
    width: 20px;
}

.icons{
    display: flex;
    gap: 10px;
    cursor:pointer;
    padding-top: 10px;
}

.icons .icon-1{
    margin-right: 5px;
}



.icons .icon-2{
    margin-right: 5px;
}

.icons .icon-3{
    margin-right: 5px;
}

.icon-1:hover{
    transition: 2s ease;
    transform: scale(1.5,1.5);
}

.icon-2:hover{
    transition: 2s ease;
    transform: scale(1.5,1.5);
}

.icon-3:hover{
    transition: 2s ease;
    transform: scale(1.5,1.5);
}



hr{
    border-top: 1px solid rgba(128, 128, 128, 0.096);
    opacity: 0.3;
    width: 90%; 
    margin: auto; 
    margin-bottom: 30px;
}

.credits{
    background-color: #001931;
    text-align:center;
    padding: 40px;
    /*border-top: 1px solid rgba(128, 128, 128, 0.137) ;*/
    color: white;
    font-size: 16px;

}

